<h1 mat-dialog-title>Mitarbeiter</h1>
<div mat-dialog-content>
    <mat-form-field style="width:100%">
  <mat-label>Name</mat-label>
  <input matInput type="text" [(ngModel)]="mitarbeiter.mitarbeiterName">
  <button *ngIf="mitarbeiter.mitarbeiterName" matSuffix mat-icon-button aria-label="Clear" (click)="mitarbeiter.mitarbeiterName=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

  <mat-list>
    <mat-list-item>
      <div style="display: flex; width: 100%; justify-content: space-between; align-items:center">
        <span style="margin-right: 1rem;">Mo:</span><app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.mo" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.mo=$event" />
        </div>
    </mat-list-item>
    <mat-list-item>
      <div style="display: flex; width: 100%; justify-content: space-between; align-items:center">
        <span style="margin-right: 1rem;">Di:</span><app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.di" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.di=$event" />
        </div>
    </mat-list-item>
    <mat-list-item>
      <div style="display: flex; width: 100%; justify-content: space-between; align-items:center">
        <span style="margin-right: 1rem;">Mi:</span><app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.mi" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.mi=$event" />
        </div>
    </mat-list-item>
    <mat-list-item>
      <div style="display: flex; width: 100%; justify-content: space-between; align-items:center">
        <span style="margin-right: 1rem;">Do:</span><app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.do" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.do=$event" />
        </div>
    </mat-list-item>
    <mat-list-item>
      <div style="display: flex; width: 100%; justify-content: space-between; align-items:center">
        <span style="margin-right: 1rem;">Fr:</span><app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.fr" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.fr=$event" />
        </div>
    </mat-list-item>
    <mat-list-item>
      <div style="display: flex; width: 100%; justify-content: space-between; align-items:center">
        <span style="margin-right: 1rem;">Sa:</span><app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.sa" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.sa=$event" />
        </div>
    </mat-list-item>
    <mat-list-item>
      <div style="display: flex; width: 100%; justify-content: space-between; align-items:center">
        <span style="margin-right: 1rem;">So:</span><app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.so" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.so=$event" />
        </div>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions style="display: flex; justify-content: end;">
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="mitarbeiter" cdkFocusInitial>OK</button>
</div>
