<h1 mat-dialog-title>Anlegen</h1>
<div mat-dialog-content>
    <mat-form-field >
  <mat-label>Name</mat-label>
  <input matInput type="text" [(ngModel)]="mitarbeiter.mitarbeiterName">
  <button *ngIf="mitarbeiter.mitarbeiterName" matSuffix mat-icon-button aria-label="Clear" (click)="mitarbeiter.mitarbeiterName=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

  <p>Verfuegbarkeiten</p>
  <mat-list>
    <mat-list-item>
        Mo: <app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.mo" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.mo=$event" />
    </mat-list-item>
    <mat-list-item>
        Di: <app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.di" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.di=$event" />
    </mat-list-item>
    <mat-list-item>
        Mi: <app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.mi" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.mi=$event" />
    </mat-list-item>
    <mat-list-item>
        Do: <app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.do" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.do=$event" />
    </mat-list-item>
    <mat-list-item>
        Fr: <app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.fr" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.fr=$event" />
    </mat-list-item>
    <mat-list-item>
        Sa: <app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.sa" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.sa=$event" />
    </mat-list-item>
    <mat-list-item>
        So: <app-mitarbeiter-dialog-tag-verfuegbarkeit [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.so" (verfuegbarkeitvalueChange)="mitarbeiter.tagverfuegbarkeit.so=$event" />
    </mat-list-item>
    <mat-list-item>
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Abbrechen</button>
  <button mat-button [mat-dialog-close]="mitarbeiter" cdkFocusInitial>OK</button>
</div>
