<mat-toolbar color="accent">
<span>VL Bigblocks - Schichtplanung</span>
</mat-toolbar>
<table #verfuegbarkeitTable mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let mitarbeiter"> {{mitarbeiter.mitarbeiterName}} </td>
  </ng-container>

  <ng-container matColumnDef="Mo">
    <th mat-header-cell *matHeaderCellDef> Mo </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-verfuegbarkeit-table-entry [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.mo"/> </td>
  </ng-container>

  <ng-container matColumnDef="Di">
    <th mat-header-cell *matHeaderCellDef> Di </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-verfuegbarkeit-table-entry [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.di"/> </td>
  </ng-container>

  <ng-container matColumnDef="Mi">
    <th mat-header-cell *matHeaderCellDef> Mi </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-verfuegbarkeit-table-entry [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.mi"/> </td>
  </ng-container>

  <ng-container matColumnDef="Do">
    <th mat-header-cell *matHeaderCellDef> Do </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-verfuegbarkeit-table-entry [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.do"/> </td>
  </ng-container>

  <ng-container matColumnDef="Fr">
    <th mat-header-cell *matHeaderCellDef> Fr </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-verfuegbarkeit-table-entry [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.fr"/> </td>
  </ng-container>

  <ng-container matColumnDef="Sa">
    <th mat-header-cell *matHeaderCellDef> Sa </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-verfuegbarkeit-table-entry [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.sa"/> </td>
  </ng-container>

  <ng-container matColumnDef="So">
    <th mat-header-cell *matHeaderCellDef> So </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-verfuegbarkeit-table-entry [verfuegbarkeit]="mitarbeiter.tagverfuegbarkeit.so"/> </td>
  </ng-container>
  <ng-container matColumnDef="Edit">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let mitarbeiter">       <button (click)="openEditDialog(mitarbeiter)" mat-icon-button >
        <mat-icon>edit</mat-icon>
      </button> </td>
  </ng-container>
  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef>  </th>
    <td mat-cell *matCellDef="let mitarbeiter">       <button (click)="deleteMitarbeiter(mitarbeiter)" mat-icon-button >
        <mat-icon color="warn">delete_forever</mat-icon>
      </button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="verfuegbarkeitDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: verfuegbarkeitDisplayedColumns;"></tr>
</table>

<div style="width: 100%; display: flex; justify-content: center; margin: 1rem;">
<button mat-mini-fab (click)="openCreateDialog()" >
<mat-icon>add</mat-icon>
</button>
</div>
<mat-toolbar color="primary">
<span>Ohne Zwang</span>
</mat-toolbar>
<table #planTable mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let mitarbeiter"> {{mitarbeiter.mitarbeiterName}} </td>
  </ng-container>

  <ng-container matColumnDef="Mo">
    <th mat-header-cell *matHeaderCellDef> Mo </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchicht.mo"/> </td>
  </ng-container>

  <ng-container matColumnDef="Di">
    <th mat-header-cell *matHeaderCellDef> Di </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchicht.di"/> </td>
  </ng-container>

  <ng-container matColumnDef="Mi">
    <th mat-header-cell *matHeaderCellDef> Mi </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchicht.mi"/> </td>
  </ng-container>

  <ng-container matColumnDef="Do">
    <th mat-header-cell *matHeaderCellDef> Do </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchicht.do"/> </td>
  </ng-container>

  <ng-container matColumnDef="Fr">
    <th mat-header-cell *matHeaderCellDef> Fr </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchicht.fr"/> </td>
  </ng-container>

  <ng-container matColumnDef="Sa">
    <th mat-header-cell *matHeaderCellDef> Sa </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchicht.sa"/> </td>
  </ng-container>

  <ng-container matColumnDef="So">
    <th mat-header-cell *matHeaderCellDef> So </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchicht.so"/> </td>
  </ng-container>

  <ng-container matColumnDef="Anzahl">
    <th mat-header-cell *matHeaderCellDef> Σ </th>
    <td mat-cell *matCellDef="let mitarbeiter"> {{mitarbeiter.tagSchichtAnzahl}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="schichtDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: schichtDisplayedColumns;"></tr>
</table>
<mat-toolbar color="primary">
<span>Mit Zwang</span>
</mat-toolbar>
<table #planZwangTable mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let mitarbeiter"> {{mitarbeiter.mitarbeiterName}} </td>
  </ng-container>

  <ng-container matColumnDef="Mo">
    <th mat-header-cell *matHeaderCellDef> Mo </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchichtZwang.mo"/> </td>
  </ng-container>

  <ng-container matColumnDef="Di">
    <th mat-header-cell *matHeaderCellDef> Di </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchichtZwang.di"/> </td>
  </ng-container>

  <ng-container matColumnDef="Mi">
    <th mat-header-cell *matHeaderCellDef> Mi </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchichtZwang.mi"/> </td>
  </ng-container>

  <ng-container matColumnDef="Do">
    <th mat-header-cell *matHeaderCellDef> Do </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchichtZwang.do"/> </td>
  </ng-container>

  <ng-container matColumnDef="Fr">
    <th mat-header-cell *matHeaderCellDef> Fr </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchichtZwang.fr"/> </td>
  </ng-container>

  <ng-container matColumnDef="Sa">
    <th mat-header-cell *matHeaderCellDef> Sa </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchichtZwang.sa"/> </td>
  </ng-container>

  <ng-container matColumnDef="So">
    <th mat-header-cell *matHeaderCellDef> So </th>
    <td mat-cell *matCellDef="let mitarbeiter"> <app-tag-eingeplant-table-entry [eingeplant]="mitarbeiter.tagSchichtZwang.so"/> </td>
  </ng-container>

  <ng-container matColumnDef="Anzahl">
    <th mat-header-cell *matHeaderCellDef> Σ </th>
    <td mat-cell *matCellDef="let mitarbeiter"> {{mitarbeiter.tagSchichtZwangAnzahl}} </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="schichtDisplayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: schichtDisplayedColumns;"></tr>
</table>

<div style="position: absolute; bottom:1rem;right:1rem;">
        <button mat-fab color="primary" (click)="berechneBeide()">
          <mat-icon>refresh</mat-icon>
        </button>
        </div>